.my_menu li a:hover{
    -webkit-box-shadow: inset -20px -12px 0px -17px rgba(0,0,0,0.64);
    -moz-box-shadow: inset -20px -12px 0px -17px rgba(0,0,0,0.64);
    box-shadow: inset -20px -12px 0px -17px rgba(0,0,0,0.64);
}
#menu_active
{
    -webkit-box-shadow: inset -20px -12px 0px -17px rgba(66,139,202,1);
    -moz-box-shadow: inset -20px -12px 0px -17px rgba(66,139,202,1);
    box-shadow: inset -20px -12px 0px -17px rgba(66,139,202,1);
    background-color: lightgray;
}

p.navbar-brand{
    color:#428bca !important;
}

ol.sort,ol.sort ol {
	margin: 0 0 0 25px; padding: 0; list-style-type: none;
}

ol.sort {
	margin: 4em 0;
}

.sort li {
	margin: 5px 0 0 0; padding: 0;
}

.sort li div {
	border: 1px solid #d4d4d4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border-color: #D4D4D4 #D4D4D4 #BCBCBC; padding: 6px; margin: 0; cursor: move; background: #f6f6f6; background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed) ); background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr = '#ffffff', endColorstr = '#ededed', GradientType = 0 );
}

.sort img{
    height: 50px;
    width: 50px;
}